# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# IMPORTS
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  
# utils:
import("utils")
## importFrom("utils", download.file)
## importFrom("utils", download.file)
## importFrom("utils", str)
## importFrom("utils", write.table)


# R.methodsS3/R.oo:
import("R.methodsS3")
import("R.oo")


# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# EXPORTS
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# Export all public methods, that is, those without a preceeding dot
# in their names.
exportPattern("^[^\\.]")

# Object that must exported explicitly
export(.conflicts.OK) 
